
.container {
  display: flex;
  height: 32px;
  width: 16px;
}

.chevron {
  animation: move-chevron 3s ease-out infinite;
  height: 3.2px;
  opacity: 0;
  position: absolute;
  transform: scale(0.3);
  width: 14px;
}

.chevron:first-child {
  animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: var(--fui-color-primary);
}

.chevron:before {
  left: 0;
  transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(15.2px);
  }
  66.6% {
    opacity: 1;
    transform: translateY(20.8px);
  }
  100% {
    opacity: 0;
    transform: translateY(32px) scale(0.5);
  }
}
