
.navbar {
  transition: all 0.2s;
  user-select: none;

  .navbarBrand,
  .navbarToggle {
    /* color: var(--fui-navbar-color); */
    font-weight: bold;
  }

  .navbarToggle {
    border: none;
    display: flex;
    align-items: center;
  }

  &.navbarInverse {
    opacity: 1;
  }

  &.navbarInverse,
  &.navbarExpanded {
    background-color: var(--fui-color-primary);
    box-shadow: 0 0 var(--fui-spacer) rgba(#906e00, 0.5);
    --fui-nav-link-color: #{var(--fui-color-white)};
    --fui-nav-link-hover-color: #{rgba(var(--fui-color-white), 0.66)};

    .navbarBrand,
    .navbarToggle {
      color: var(--fui-color-white);
    }
  }
}

.basketIcon {
  display: inline-flex;
  margin-right: calc(var(--fui-spacer) / 2);
  position: relative;
  vertical-align: top;
}

.basketBadge {
  left: calc(-0.75 * var(--fui-spacer));
  top: calc(-0.5 * var(--fui-spacer));
  pointer-events: none;
  position: absolute;
  transform: scale(0);
  opacity: 0;
  z-index: 1024;
  transition: all 200ms;

  &.show {
    opacity: 1;
    transform: scale(0.75);
  }
}

.logo {
  margin-right: calc(var(--fui-spacer) / 2);
  width: 30px;
  height: 30px;
}

.content {
  /* background-color: var(--fui-color-early-dawn); */
  /* background-image: url(../public/bg-texture.gif); */
  padding-bottom: var(--fui-spacer);
}

.galleryPageRow {
  & > * {
    padding: 0;
  }
}

.runes {
  display: flex;
  justify-content: center;
  margin: calc(calc(var(--fui-spacer) * 1.5)) 0 var(--fui-spacer);
}

@keyframes rune-01 {
  0% {
    color: var(--fui-color-primary);
  }
  20% {
    color: #c4b5e0;
    filter: drop-shadow(0 0 calc(var(--fui-spacer) / 4) #2d1c51);
  }
  40% {
    color: var(--fui-color-secondary);
    filter: drop-shadow(0 0 calc(var(--fui-spacer) / 4) var(--fui-color-secondary));
  }
  60% {
    color: #e12;
    filter: drop-shadow(0 0 calc(var(--fui-spacer) / 4) #e12);
  }
  80% {
    color: #39e;
    filter: drop-shadow(0 0 calc(var(--fui-spacer) / 4) #39e);
  }
  100% {
    color: var(--fui-color-primary);
  }
}

.rune {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  filter: drop-shadow(0 0 calc(var(--fui-spacer) / 4) rgba(var(--fui-color-primary), 0.66));
  margin: calc(var(--fui-spacer) / 4);
  transition: 0.4s opacity;
  color: var(--fui-color-primary);
  height: calc(calc(var(--fui-spacer) * 2));
  width: calc(calc(var(--fui-spacer) * 2));
  animation: 42s rune-01 infinite;

  &:nth-child(2) {
    animation-delay: 15s;
  }
  &:nth-child(3) {
    animation-delay: 63s;
  }
  &:nth-child(4) {
    animation-delay: 27s;
  }
  &:nth-child(5) {
    animation-delay: -31s;
  }
}

.menuWidget {
  align-items: center;
  display: flex;
  bottom: 0;
  height: calc(calc(var(--fui-spacer) * 2.5));
  right: var(--fui-spacer);
  top: 0;
  position: absolute;
}

.menuUserName {
  font-size: var(--fui-font-size-base);
  margin-right: calc(var(--fui-spacer) / 2);
  max-width: calc(calc(var(--fui-spacer) * 12));
  text-overflow: ellipsis;
  overflow: hidden;
  display: none;
  white-space: nowrap;
}

@media (min-width: 576px) {
  .menuUserName {
    display: block;
  }

  .rune {
    height: calc(calc(var(--fui-spacer) * 2.5));
    width: calc(calc(var(--fui-spacer) * 2.5));
  }
}

@media (min-width: 768px) {
  .rune {
    height: calc(calc(var(--fui-spacer) * 2.5));
    width: calc(calc(var(--fui-spacer) * 2.5));
  }
}

@media (min-width: 992px) {
  .menuWidget {
    position: static;

    .navbarToggle {
      display: none;
    }

    button.navbarToggle.navbarWithUser {
      display: flex;
    }
  }

  .navbar {
    .userMenu {
      background: var(--fui-color-primary);
      border-radius: 0.375rem-lg;
      flex-direction: column;
      opacity: 0;
      padding: calc(var(--fui-spacer) / 2) !important;
      pointer-events: none;
      position: absolute;
      right: calc(var(--fui-spacer));
      top: calc(calc(var(--fui-spacer) * 3.5));
      transition: opacity 0.2s;

      a:link,
      a:visited {
        color: var(--fui-color-white);
      }
    }

    &.navbarExpanded {
      .userMenu {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}
