
.menuElement {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s;

  &:not(.show) {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.show {
  max-height: 1000px;
  opacity: 1;
}

.bubble {
  align-items: center;
  cursor: default;
  display: flex;
  user-select: none;

  button {
    line-height: 100%;
    padding: calc(var(--fui-spacer) / 8);
    padding-left: calc(var(--fui-spacer) / 8 * 3);
    padding-right: calc(var(--fui-spacer) / 8 * 3);
    margin-right: -8px;
    margin-top: -4px;
    margin-bottom: -4px;

    &:active,
    &:hover,
    &:active:focus,
    &:focus {
      box-shadow: none;
    }
  }

  .bubbleLabel {
    border-right: 1px solid var(--fui-color-white);
    padding-right: calc(var(--fui-spacer) / 2);
  }
}

.writable {
  cursor: text;
  flex-wrap: wrap;
  padding: 0 calc(var(--fui-spacer) / 4) calc(var(--fui-spacer) / 4) 0;

  .bubble,
  .inputContainer {
    margin: calc(var(--fui-spacer) / 4) 0 0 calc(var(--fui-spacer) / 4);
  }

  .inputContainer {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 0;
  }

  input {
    flex-shrink: 1;
    flex-basis: 0;
    border: none;
    background: transparent;

    &:active,
    &:hover,
    &:active:focus,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  &:focus-within {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border-color: #86b7fe;
  }

  &.disabled {
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
}
